* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #b10b0b;
    color: rgb(0, 0, 0);
    padding: 20px;
  margin: 0%;
}

.logo {
    font-family: 'DM Serif Display', serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -2px;
    font-style: normal;
}